@import "tailwindcss";

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.background-container {
  background-image: url('/background.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(175, 255, 255, 0.5);
  z-index: -1;
}

